.search {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #F6F6F7;
}

.searchimg {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.searchinput {
    background-color: #F6F8FA;
    position: relative;
    color:#898FA3;
    border-radius: 4px;
    font-weight: 400;
    font-size: 15px;
    width: 100%;
}

.input {
    background-color: #F6F8FA;
    color:#898FA3;
    border-radius: 4px;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Space Grotesk';
    padding: 15px 0px;
    padding-left: 55px;
}

.input::placeholder{
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 15px;
}